[client]
socket = {{ MYSQL_DIR }}/mysqld.sock

[mysql]
socket = {{ MYSQL_DIR }}/mysqld.sock

[mysqld]
tmpdir  = /tmp
max_connections = 1024
symbolic-links=0

server-id={{ server_id }}
datadir = {{ MYSQL_DIR }}
basedir = {{ BASE_DIR }}/mysql
user = {{ MY_USER }}
port = {{ MYSQL_PORT }}
bind-address = 0.0.0.0
socket = {{ MYSQL_DIR }}/mysqld.sock
pid-file = {{ MYSQL_DIR }}/mysqld.pid
log-error = {{ BASE_DIR }}/mysql/logs/mysql.log

log-bin=mysql-bin
binlog_format=mixed
log-bin-index=mysql-bin.index

auto-increment-increment = 2
auto-increment-offset = {{ auto_increment_offset }} 

#密码永久不过期配置
default_password_lifetime=0

!includedir /etc/my.cnf.d/
